::-webkit-scrollbar{
    background-color: #202324;
    color: #aba499;
  }
  ::-webkit-scrollbar-corner {
    background-color: #181a1b;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }

  body {
    text-align: center;
    align-content: center;
    background: #0e0e10;
    color: rgb(230, 230, 230);
    margin: 100px 0px 100px 0px;
    height: 100%;
  }

  #top-photo {
    width: 100%;
    margin: auto;
  }
  #top-photo img {
    width: 40%;
  }
  
  #gallery {
      width: 100%;
      text-align: justify;
      margin: auto;
  }
  #gallery img {
      /* margin: auto; */
      padding: 25px;
      /* width: 25%; */
      min-height: 100px;
      max-height: 250px;
      
      /* width: 15%;
      height: 150px; */
  }

  body hr {
    background-color: #202324;
    height: 10px;
    border-width: 0px;
    margin: 25px 0px;
  }

